<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/styles')%>
    <title>
        <%= title %>
    </title>
</head>
<body style="background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);">
    <%- include ('./partials/navbar')%>
    <h1>
        <%= title %>
    </h1>
    <form action="/medicine/add" method="POST">
       
        <label for="name">Name</label><br>
        <input type="text" name="name" id=""><br>

        <label for="stock">Stock</label><br>
        <input type="number" name="stock" min="1" value="1" id=""><br>

        <button class="btn btn-outline-success" type="submit">Save</button>
        <button class="btn btn-outline-success" formaction="/medicine">Cancel</button><br>
    </form>

    <%= errors %>
</body>

</html>