<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/styles')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>Update Medicines</title>
</head>
<body style="background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);">
    <%- include ('./partials/navbar') %>
    <div style="text-align: center;margin-left: auto;margin-right: auto;">
        <h1>Update Medicines</h1>
    </div>
    <div>
        <form>
            <% data.forEach(element => { %>
                <p> Name </p>
                <input type="text" name="name" value="<%= element.name %>"><br><br>
                <p> Stock </p>
                <input type="number" name="stock" value="<%= element.stock %>">
            <br><br>
            <button class="btn btn-outline-success" type="submit" formaction="/medicines/<%= element.id %>/edit" formmethod="POST"> Update </button> <button class="btn btn-outline-success" type="submit" formaction="/medicines" formmethod="GET"> Cancel </button>
            <% }); %>
        </form>
    </div>


</body>
</html>